<div class="wrapper">
    <div class="app-wrapper">
        <header class="header">
            <div class="header__title">
                Выберите друзей
            </div>
        </header>

        <section class="app-section">
            <div class="app-left">
                <div class="section-header">
                    <div class="search-icon-block">
                        <i class="fas fa-search search-icon"></i>
                    </div>
                    <input placeholder="Начните вводить имя друга" type="text" id="filterFullList" class="search-block">
                </div>
                <div class="friends">
                    <div class="friends__title">
                        Ваши друзья
                    </div>
                   <ul class="friends__list" id="friendList">

                   </ul>
                </div>
            </div>

            <div class="app-right">
                <div class="section-header">
                    <div class="search-icon-block">
                        <i class="fas fa-search search-icon"></i>
                    </div>
                    <input placeholder="Название" type="text" id="filterFilteredList" class="search-block">
                </div>
                <div class="friends">
                    <div class="friends__title">
                        Друзья в списке
                    </div>
                    <ul class="friends__list" id="filteredList">

                    </ul>
                </div>
            </div>
        </section>

        <footer class="footer">
            <a href="#" class="save-button" id="saveButton">Сохранить</a>
        </footer>
    </div>
</div>